<!-- <img [src]="img" alt="img" id="img_title"> -->

<br>
<form (ngSubmit)="addDateLimit()" #form="ngForm">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Ajouter une date limite de livraison" aria-label="Search term"
      aria-describedby="basic-addon" [(ngModel)]="limitAdded" name="zone" autocomplete="off">
    <div class="input-group-append">
      <button class="btn btn-dark" type="submit">Ajouter</button>
    </div>
  </div>
</form>

<br>
<mat-table [dataSource]="dateLimit">
  <ng-container matColumnDef="idLimitDat">
    <mat-header-cell *matHeaderCellDef>id</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.idLimiteDat}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="limitDat">
    <mat-header-cell *matHeaderCellDef>Date limite</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.limiteDat}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="edit">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index">
      <span>
        <fa-icon [icon]="faEdit" class="edit" (click)="editDateLimit(element)"></fa-icon>
      </span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="suppr">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span>
        <fa-icon [icon]="faMinusCircle" class="suppr" (click)="deleteDateLimit(element)"></fa-icon>
      </span>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="columnLimit"></mat-header-row>
  <mat-row *matRowDef="let row;columns: columnLimit;"></mat-row>
</mat-table>
<label class="label" *ngIf="dateLimit.length == 0">Aucun date limite ajouté</label>

<!-- // changer -->
<button type="button" id="btn_open" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#flip"
  style="display: none;">
  Confirmer
</button>

<!-- The modal -->
<div class="modal fade" id="flip" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border: none;text-align: center;">
        <h4 class="modal-title" id="modalLabel" style="text-align: center;">Confirmation</h4>
        <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="border: none;">
        <p style="text-align: center;">
          Voulez vous supprimer ?
        </p>
      </div>
      <div class="modal-footer" style="border: none;">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary" style="margin-right: 20px;border-radius: 5px;"
            (click)="confirmDelete()">Oui</button>
          <button type="button" class="btn btn-dark" data-dismiss="modal" style="border-radius: 5px;">Non</button>
        </div>
      </div>
    </div>
  </div>
</div>
