.label {
  font-weight: lighter;
  font-style: italic;
  margin-left: 40%;
}

row {
  margin-bottom: 10px;
}

#img_title {
  height: 60px;
  margin-left: 30%;
}

.edit {
  color: rgba(8, 122, 8, 0.801);
  border: 1px solid whitesmoke;
  cursor: pointer;
}

.suppr {
  color: rgba(199, 12, 12, 0.733);
  cursor: pointer;
}

.float {
  position: absolute;
  top: 100px;
  right: 50px;
}
mat-table{
    width: 1900px;
}

.table-container{
    overflow-x: auto;
}