<img [src]="img" alt="img" id="img_title">
<mat-tab-group>

  <mat-tab label="Liste des coursiers">
    <div class="container-fluid mt-2">

      <div class="row">
        <div class="col-12 col-md-6">
          <mat-form-field>
            <input (keyup)="filterCoursier($event.target.value)" matInput placeholder="rechercher" autocomplete="off"
              style="padding-left: 20px;">
            <mat-icon matSuffix>
              search
            </mat-icon>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6">
          <mat-paginator [pageSizeOptions]="[10,20,30]" showFirstLastButton>
          </mat-paginator>
        </div>
      </div>
    </div>
    <div class="mt-2 table-container">
      <mat-table [dataSource]="coursierDatasource" style="clear: both;">
        <ng-container matColumnDef="idCou" sticky>
          <mat-header-cell *matHeaderCellDef>id</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.idCou}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="nomCou">
          <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.nomCou}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="prenomCou">
          <mat-header-cell *matHeaderCellDef>Prénoms</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.prenomCou}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="numTelCou">
          <mat-header-cell *matHeaderCellDef>Telephone</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{formatter.numTel(element.numTelCou)}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="numTelUrgentCou">
          <mat-header-cell *matHeaderCellDef>Téléphone d'urgence</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{formatter.numTel(element.numTelUrgentCou)}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="adresseCou">
          <mat-header-cell *matHeaderCellDef>Adresse</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.adresseCou}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="referenceVehiculeCou">
          <mat-header-cell *matHeaderCellDef>Référence véhicule</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.referenceVehiculeCou}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="usernameCou">
          <mat-header-cell *matHeaderCellDef>Nom d'utilisateur</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.usernameCou}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="typeCoursier">
          <mat-header-cell *matHeaderCellDef>Type Coursier</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element["idTypeCouTypeCoursier"].typeCou}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="edit" stickyEnd>
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index">
            <span>
              <fa-icon [icon]="faEdit" class="edit" (click)="editCoursier(element)"></fa-icon>
            </span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="suppr" stickyEnd>
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span>
              <fa-icon [icon]="faMinusCircle" class="suppr" (click)="deleteCoursier(element)"></fa-icon>
            </span>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnCoursiers"></mat-header-row>
        <mat-row *matRowDef="let row;columns: columnCoursiers;"></mat-row>
      </mat-table>
      <label class="label" *ngIf="coursiers.length == 0">Aucun coursier ajouté</label>

    </div>
  </mat-tab>



  <mat-tab label="Ajouter un coursier">
    <br>
    <form (ngSubmit)="addCoursier(form)" [formGroup]="coursierForm" #form="ngForm">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1 col-xs-12 mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="nom">
                  <fa-icon [icon]="faUser"></fa-icon>
                </span>
              </div>
              <input type="text" placeholder="Nom" class="form-control" aria-label="nom" aria-describedby="nom"
                name="nom" required formControlName="nomCou" autocomplete="off">
            </div>
            <small *ngIf="coursierForm.get('nomCou').errors?.serverError" class="form-text text-danger">
              {{coursierForm.get('nomCou').errors?.serverError}}</small>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1 col-xs-12 mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="prenoms">
                  <fa-icon [icon]="faUser"></fa-icon>
                </span>
              </div>
              <input type="text" placeholder="Prénoms" class="form-control" aria-label="prenoms"
                aria-describedby="prenoms" name="prenoms" required formControlName="prenomCou" autocomplete="off">
            </div>
            <small *ngIf="coursierForm.get('prenomCou').errors?.serverError" class="form-text text-danger">
              {{coursierForm.get('prenomCou').errors?.serverError}}</small>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1 col-xs-12 mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="telephone">
                  <fa-icon [icon]="faPhone"></fa-icon> &nbsp; + 261 
                </span>
              </div>
              <input type="text" placeholder="Telephone" class="form-control" aria-label="telephone"
                aria-describedby="telephone" name="telephone" required formControlName="numTelCou" autocomplete="off">
            </div>
            <small *ngIf="coursierForm.get('numTelCou').errors?.serverError" class="form-text text-danger">
              {{coursierForm.get('numTelCou').errors?.serverError}}</small>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1 col-xs-12 mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="telephone">
                  <fa-icon [icon]="faPhone"></fa-icon> &nbsp; + 261 
                </span>
              </div>
              <input type="text" placeholder="Telephone d'urgence" class="form-control" aria-label="numTelUrgentCou"
                aria-describedby="numTelUrgentCou" name="numTelUrgentCou" required formControlName="numTelUrgentCou"
                autocomplete="off">
            </div>
            <small *ngIf="coursierForm.get('numTelUrgentCou').errors?.serverError"
              class="form-text text-danger">
              {{coursierForm.get('numTelUrgentCou').errors?.serverError}}</small>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1 col-xs-12 mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="telephone">
                  <fa-icon [icon]="faPin"></fa-icon>
                </span>
              </div>
              <input type="text" placeholder="Adresse" class="form-control" aria-label="adresseCou"
                aria-describedby="adresseCou" name="adresseCou" required formControlName="adresseCou"
                autocomplete="off">
            </div>
            <small *ngIf="coursierForm.get('adresseCou').errors?.serverError" class="form-text text-danger">
              {{coursierForm.get('adresseCou').errors?.serverError}}</small>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1 col-xs-12 mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="telephone">
                  <fa-icon [icon]="faCar"></fa-icon>
                </span>
              </div>
              <input type="text" placeholder="Référence véhicule" class="form-control" aria-label="referenceVehiculeCou"
                aria-describedby="referenceVehiculeCou" name="referenceVehiculeCou" required
                formControlName="referenceVehiculeCou" autocomplete="off">
            </div>
            <small *ngIf="coursierForm.get('referenceVehiculeCou').errors?.serverError"
              class="form-text text-danger">
              {{coursierForm.get('referenceVehiculeCou').errors?.serverError}}</small>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1 col-xs-12 mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="username">
                  <fa-icon [icon]="faCar"></fa-icon>
                </span>
              </div>
              <select class="form-control" formControlName="idTypeCouTypeCoursier">
                <option [ngValue]="null" disabled>Type Coursier</option>
                <option *ngFor="let type of typeCoursier; let index = index" [value]="type.idTypeCou">{{type.typeCou}}
                </option>
              </select>
            </div>
            <small *ngIf="coursierForm.get('idTypeCouTypeCoursier').errors?.serverError"
              class="form-text text-danger">
              {{coursierForm.get('idTypeCouTypeCoursier').errors?.serverError}}</small>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1 col-xs-12 mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="username">
                  <fa-icon [icon]="faUserAlt"></fa-icon>
                </span>
              </div>
              <input type="text" placeholder="Nom d'utilisateur" class="form-control" aria-label="username"
                aria-describedby="username" name="username" required formControlName="usernameCou" autocomplete="off">
            </div>
            <small *ngIf="coursierForm.get('usernameCou').errors?.serverError" class="form-text text-danger">
              {{coursierForm.get('usernameCou').errors?.serverError}}</small>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1 col-xs-12 mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="password">
                  <fa-icon [icon]="faEyeSlash"></fa-icon>
                </span>
              </div>
              <input type="password" placeholder="Mot de passe" class="form-control" aria-label="password"
                aria-describedby="password" name="password" required formControlName="passCou">
            </div>
            <small *ngIf="coursierForm.get('passCou').errors?.serverError" class="form-text text-danger">
              {{coursierForm.get('passCou').errors?.serverError}}</small>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1 col-xs-12 mb-3">
            <button mat-raised-button color="accent" type="submit" [disabled]="coursierForm.invalid">
              Ajouter
            </button>
          </div>
        </div>
      </div>
    </form>

  </mat-tab>
</mat-tab-group>


<!-- // changer -->
<button type="button" id="btn_open" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#flip"
  style="display: none;">
  Confirmer
</button>

<!-- The modal -->
<div class="modal fade" id="flip" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border: none;text-align: center;">
        <h4 class="modal-title" id="modalLabel" style="text-align: center;">Confirmation</h4>
        <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="border: none;">
        <p style="text-align: center;">
          Voulez vous supprimer ?
        </p>
      </div>
      <div class="modal-footer" style="border: none;">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary" style="margin-right: 20px;border-radius: 5px;"
            (click)="confirmDelete()">Oui</button>
          <button type="button" class="btn btn-dark" data-dismiss="modal" style="border-radius: 5px;">Non</button>
        </div>
      </div>
    </div>
  </div>
</div>
