<div class="container text-center pt-5">
  <ngx-spinner [zIndex]=-1 name="tarif" bdColor="white" size="medium" color="rgb(239, 18, 51,0.8)"
    type="ball-triangle-path">
  </ngx-spinner>
  <div class="row justify-content-center" [formGroup]="searchForm">
    <div class="col-md-4 col-10">
      <mat-form-field class="produit w-100">
        <mat-label>Lieu de départ</mat-label>
        <mat-select disableOptionCentering (selectionChange)="handleChange($event)" [(value)]="selectedLieuDepart"
          formControlName="lieuA">
          <mat-option>
            <ngx-mat-select-search placeholderLabel="Rechercher..." noEntriesFoundLabel="Aucun lieu trouvé"
              [formControl]="idLieArriveeFilter"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let lieu of filteredLieuArrivee | async" id="idLieArrivee" [value]="lieu">
            {{lieu["nomLie"]}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="searchForm.controls.lieuA.errors?.lieu">Lieu identique</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-4 col-10">
      <mat-form-field class="produit w-100">
        <mat-label>Lieu de destination</mat-label>
        <mat-select disableOptionCentering [(value)]="selectedLieuDestination" (selectionChange)="handleChange($event)"
          formControlName="lieuB">
          <mat-option>
            <ngx-mat-select-search placeholderLabel="Rechercher..." noEntriesFoundLabel="Aucun lieu trouvé"
              [formControl]="idLieArriveeFilter"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let lieu of filteredLieuArrivee | async" id="idLieArrivee" [value]="lieu">
            {{lieu["nomLie"]}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="searchForm.controls.lieuB.errors?.lieu">Lieu identique</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row my-5 justify-content-center">
    <div *ngFor="let tarif of tarifs" class="col-md-4 col-sm-6 col-12 col-xl-3 pb-4">
      <div class="h-100 card card-pricing popular shadow text-center px-3 mb-4">
        <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom text-white shadow-sm headtitle">
          {{tarif.idTypeCouTypeCoursier["typeCou"]}} </span>
        <div class="bg-transparent card-header pt-4 border-0">
          <h1 class="h1 font-weight-normal text-primary text-center mb-0 dollar" data-pricing-value="30"><span
              class="dollar">Ar</span><span class="price"> {{tarif["tarifTar"]}}</span><span
              class="h6 text-muted ml-2"></span></h1>
        </div>
        <div class="card-body pt-0 pb-0">
          <p class="details-zone"> {{selectedLieuDepart.nomLie}} -> {{selectedLieuDestination.nomLie}}
          </p>
          <p class="details-zone"> <span class="font-weight-bold">Poids max: </span> &nbsp;
            {{tarif.idTypeCouTypeCoursier["poidsMaxTypeCou"]}} &nbsp; kg
          </p>
        </div>
        <div class="card-footer bg-white border-0">
          <a routerLink='/livrer'
            [queryParams]="{lieuA: selectedLieuDepart.idLie, lieuB: selectedLieuDestination.idLie, typeCoursier: tarif.idTypeCouTypeCoursier.idTypeCou}"
            class="btn btn-danger mb-3">Livrer</a>
        </div>
      </div>
    </div>
  </div>
</div>
