<footer class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="accordion w-100 d-lg-flex" id="accordion">
                        <div class="col-lg-4 col-md-12">
                            <a href="#one" data-toggle="collapse" class="h5 text-uppercase text-white nav-link p-0 d-block d-lg-none d-xl-none">LIENS MENU</a>

                            <div class="h5 text-uppercase text-white p-0 d-none d-lg-block d-xl-block">
                                PLAN DU SITE
                            </div>

                            <div class="collapse text-white d-lg-flex" id="one" data-parent="#accordion">
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="#" class="nav-link pt-2 text-white">ACCEUIL</a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link pt-2 text-white">REGLEMENT</a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link pt-2 text-white">TARIF</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <a href="#two" data-toggle="collapse" class="h5 text-uppercase text-white nav-link p-0 d-block d-lg-none d-xl-none">Two</a>
                            <div class="h5 text-uppercase text-white p-0 d-none d-lg-block d-xl-block">
                                PROPRIETAIRES/GERANTS DE L'ENTREPRISE
                            </div>
                            <div class="collapse text-white d-lg-flex" id="two" data-parent="#accordion">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque ratione quis doloribus, numquam ipsam voluptatibus quia harum molestiae officia dolorum deserunt nihil soluta dignissimos quibusdam cum nulla, similique illum. Rerum.
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <a href="#three" data-toggle="collapse" class="h5 text-uppercase text-white nav-link p-0 d-block d-lg-none d-xl-none">CONTACT</a>
                            <div class="h5 text-uppercase text-white p-0 d-none d-lg-block d-xl-block">
                                CONTACT
                            </div>
                            <div class="collapse text-white d-lg-flex" id="three" data-parent="#accordion">
                                <div class="d-flex align-items-start flex-column">
                                    <p><i class="fa fa-phone"></i><span> Téléphone :</span><span class="d-flex align-items-start flex-column pl-5"> +261 XX XXX XX</span><span class="d-flex align-items-start flex-column pl-5"> +261 XX XXX XX</span></p>
                                    <p><i class="fa fa-envelope"></i><span> Email :</span><span> mtatitra.transport@gmail.com</span></p>
                                    <p><i class="fa fa-facebook"></i><span> Facebook :</span><span><a href="https://www.facebook.com/Mtatitra/"> Mtatitra transport</a></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>