<div class="content">
  <div mat-dialog-title>
    <h5 class="titre">
      Rapport
      <span class="btn btn-xs" id="btn_close" style="float: right;" mat-dialog-close mat-dialog-close="true">
        <fa-icon [icon]="faTimesCircle"></fa-icon>
      </span>
    </h5>
  </div>

  <mat-dialog-content>
    <div class="container">
      <form [formGroup]="formRapport" (submit)="submitRapport()">
        <div class="row">
          <div class="col-12">
            <mat-form-field class="w-100">
              <mat-label>Resultat: </mat-label>
              <mat-select formControlName="idResResultat">
                <mat-option *ngFor="let res of resultats" [value]="res['idRes']"> {{res["resultatRes"]}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field class="w-100">
              <mat-label>Rapport</mat-label>
              <textarea matInput formControlName="rapportLiv"></textarea>
            </mat-form-field>
          </div>
          <div class="col-12">
            <button class="btn btn-success" type="submit" [disabled]="formRapport.invalid"> Envoyer </button>
          </div>
        </div>
      </form>
    </div>
  </mat-dialog-content>
</div>
