<mat-tab-group>
  <mat-tab label="Etapes">
    <div class="container-fluid my-5">
      <div class="row justify-content-center">
        <div class="col-10">
          <div cdkDropList class="example-list m-auto" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let etape of etapes" cdkDrag>
              <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
              <input class="w-75" *ngIf="editMode && currentEdit.idEta == etape.idEta" [(ngModel)]="modifiedEtape"
                placeholder="Etapes" autocomplete="off">

              <fa-icon *ngIf="editMode && currentEdit.idEta == etape.idEta" [icon]="faCheck" style="cursor: pointer;"
                (click)="save(etape)"></fa-icon>

              <fa-icon *ngIf="editMode && currentEdit.idEta == etape.idEta" [icon]="faClose" style="cursor: pointer;"
                (click)="exit(etape)"></fa-icon>

              <span class="w-75" *ngIf="!editMode || currentEdit.idEta != etape.idEta">
                {{etape.etatEta}}
              </span>
              <fa-icon [icon]="faEdit" *ngIf="!editMode" style="cursor: pointer;" (click)="edit(etape)"></fa-icon>
              <fa-icon [icon]="faClose" *ngIf="!editMode" style="cursor: pointer;" (click)="remove(etape)"></fa-icon>
            </div>
          </div>
        </div>
        <div class="col-10 mt-3 text-center">
          <button class="btn btn-success mx-1" [disabled]="isAdding" (click)="add()"> Ajouter </button>
          <button class="btn btn-primary mx-1" [disabled]="!isChanged || editMode" (click)="submit()"> Enregistrer
          </button>
          <button class="btn btn-danger mx-1" [disabled]="!isChanged || editMode" (click)="reset()"> Annuler </button>

        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Resultats">
    <div class="container-fluid my-4">
      <div class="row">
        <div class="col-12">
          <form (ngSubmit)="addResultat()" #form="ngForm">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Resultat" aria-label="Search term"
                aria-describedby="basic-addon" [(ngModel)]="resultatAdded" name="resultat" autocomplete="off">
              <div class="input-group-append">
                <button class="btn btn-dark" type="submit">Ajouter</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-paginator #typeResultat [pageSizeOptions]="[10,20,30]" showFirstLastButtons>
          </mat-paginator>
        </div>
      </div>
    </div>
    <mat-table [dataSource]="resultatDataSource">
      <ng-container matColumnDef="idRes">
        <mat-header-cell *matHeaderCellDef>id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.idRes}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="resultatRes">
        <mat-header-cell *matHeaderCellDef>Resultat</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.resultatRes}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          <span>
            <fa-icon [icon]="faEdit" class="edit" style="cursor: pointer;" (click)="editResultat(element)"></fa-icon>
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="suppr">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>
            <fa-icon [icon]="faMinusCircle" class="suppr" style="cursor: pointer;" (click)="deleteResultat(element)">
            </fa-icon>
          </span>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columnResultat"></mat-header-row>
      <mat-row *matRowDef="let row;columns: columnResultat;"></mat-row>
    </mat-table>
    <label class="label" *ngIf="resultats.length == 0">Aucun type ajouté</label>
  </mat-tab>
</mat-tab-group>



<!-- // changer -->
<button type="button" id="btn_open" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#flip"
  style="display: none;">
  Confirmer
</button>

<!-- The modal -->
<div class="modal fade" id="flip" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border: none;text-align: center;">
        <h4 class="modal-title" id="modalLabel" style="text-align: center;">Confirmation</h4>
        <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="border: none;">
        <p style="text-align: center;">
          Voulez vous supprimer ?
        </p>
      </div>
      <div class="modal-footer" style="border: none;">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary" style="margin-right: 20px;border-radius: 5px;"
            (click)="confirmDelete()">Oui</button>
          <button type="button" class="btn btn-dark" data-dismiss="modal" style="border-radius: 5px;">Non</button>
        </div>
      </div>
    </div>
  </div>
</div>
