.container {
    width: 100%;
}

.head {
    margin-top: 3%;
    font-family: 'Montserrat', Arial, Tahoma, sans-serif;
}

.nom {
    font-size: 30px;
}

.prenom {
    font-size: 30px;
}

.btnlink {
    margin-left: 25px;
}

.body {
    text-align: center;
    margin-top: 10%;
}

.img {
    width: 300px;
}

.body i {
    color: #EF1233;
    font-size: 50px;
}

.body h4 {
    font-size: 40px;
    margin-top: 10%;
}

.count-to {
    margin-top: 5%;
}

.card {
    border: none;
    margin-top: 6%;
}

small {
    font-size: 16px;
    font-family: 'Google Sans', arial, sans-serif;
}

mat-tab-group {
    margin-top: 3%;
}

.adress {
    color: #424241;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.client {
    font-size: 15px;
    color: #EF1233;
}

.contact {
    font-size: 11px;
    color: #83837d;
}

.modifier {
    background-color: #EF1233;
    padding: 7px;
    color: #ffffff;
}

.modifier:hover {
    background-color: #212121;
    color: #ffffff;
}

.option {
    margin-top: 5%
}

@media (min-width: 576px) and (max-width: 764px) {
    .img {
        width: 150px;
    }
    .hiddencontent {
        display: none;
    }
    .hrvertical {
        display: block;
    }
    .haut {
        display: none;
    }
    .bas {
        display: block;
    }
}

@media (min-width: 300px) and (max-width: 360px) {
    .img {
        width: 250px;
        margin-left: 5%;
    }
    .hiddencontent {
        display: block;
        margin-top: 7%;
    }
    .showcontent {
        display: none;
    }
    mat-tab-group {
        margin-top: 5%;
    }
    .hrhorizontale {
        display: none;
    }
    .hrvertical {
        display: block;
    }
    .haut {
        display: none;
    }
    .bas {
        display: block;
    }
    .nom {
        font-size: 22px;
    }
    .prenom {
        font-size: 22px;
    }
}

@media (min-width: 364px) and (max-width: 567px) {
    .img {
        width: 350px;
        margin-left: 5%;
    }
    .hiddencontent {
        display: block;
        margin-top: 7%;
    }
    .showcontent {
        display: none;
    }
    mat-tab-group {
        margin-top: 5%;
    }
    .hrhorizontale {
        display: none;
    }
    .hrvertical {
        display: block;
    }
    .haut {
        display: none;
    }
    .bas {
        display: block;
    }
    .nom {
        font-size: 25px;
    }
}

@media (min-width: 500) and (max-width: 575px) {
    .img {
        width: 350px;
        margin-left: 10%;
    }
    .hiddencontent {
        display: block;
        margin-top: 7%;
    }
    .showcontent {
        display: none;
    }
    mat-tab-group {
        margin-top: 5%;
    }
    .hrhorizontale {
        display: none;
    }
    .hrvertical {
        display: block;
    }
    .haut {
        display: none;
    }
    .bas {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .img {
        width: 200px;
    }
    .hiddencontent {
        display: none;
    }
    .hrvertical {
        display: none;
    }
    .haut {
        display: block;
    }
    .bas {
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .hiddencontent {
        display: none;
    }
    .hrvertical {
        display: none;
    }
    .haut {
        display: block;
    }
    .bas {
        display: none;
    }
}

@media (min-width: 1200px) and (max-width: 1920px) {
    .hiddencontent {
        display: none;
    }
    .hrvertical {
        display: none;
    }
    .haut {
        display: block;
    }
    .bas {
        display: none;
    }
}