<img [src]="img" alt="img" id="img_title">

<mat-tab-group>

  <mat-tab label="Coursier">
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-12">
          <form (ngSubmit)="addTypeCoursier()" #form="ngForm">
            <div class="row justify-content-center">
              <div class="col-10 col-md-5">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Type coursier" aria-label="Search term"
                    aria-describedby="basic-addon" [(ngModel)]="typeCoursierAdded" name="coursier" autocomplete="off">
                </div>
              </div>
              <div class="col-10 col-md-5">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Poids Max" aria-label="Search term"
                    aria-describedby="basic-addon" [(ngModel)]="poidsMaxAdded" name="poidsMax" autocomplete="off">
                </div>
              </div>
              <div class="col-10 col-md-2">
                <div class="input-group">
                  <button class="btn btn-dark" type="submit">Ajouter</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-paginator #typeCoursier [pageSizeOptions]="[10,20,30]" showFirstLastButtons>
          </mat-paginator>
        </div>
      </div>
    </div>
    <mat-table [dataSource]="coursierDataSource">
      <ng-container matColumnDef="idCou">
        <mat-header-cell *matHeaderCellDef>id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.idTypeCou}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="typeCou">
        <mat-header-cell *matHeaderCellDef>Type Coursier</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.typeCou}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="poidsMaxTypeCou">
        <mat-header-cell *matHeaderCellDef>Poids Max</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.poidsMaxTypeCou}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          <span>
            <fa-icon [icon]="faEdit" class="edit" (click)="editTypeCoursier(element)"></fa-icon>
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="suppr">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>
            <fa-icon [icon]="faMinusCircle" class="suppr" (click)="deleteTypeCoursier(element)"></fa-icon>
          </span>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columnCoursier"></mat-header-row>
      <mat-row *matRowDef="let row;columns: columnCoursier;"></mat-row>
    </mat-table>
    <label class="label" *ngIf="coursiers.length == 0">Aucun type ajouté</label>
  </mat-tab>
  <mat-tab label="Produit">
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-12">
          <form (ngSubmit)="addTypeProduit()" #form="ngForm">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Type produit" aria-label="Search term"
                aria-describedby="basic-addon" [(ngModel)]="typeProduitAdded" name="produit" autocomplete="off">
              <div class="input-group-append">
                <button class="btn btn-dark" type="submit">Ajouter</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-paginator #typeProduit [pageSizeOptions]="[10,20,30]" showFirstLastButtons>
          </mat-paginator>
        </div>
      </div>
    </div>
    <mat-table [dataSource]="produitDataSource">
      <ng-container matColumnDef="idProd">
        <mat-header-cell *matHeaderCellDef>id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.idTypePro}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="typeProd">
        <mat-header-cell *matHeaderCellDef>Designation</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.typePro}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          <span>
            <fa-icon [icon]="faEdit" class="edit" (click)="editTypeProduit(element)"></fa-icon>
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="suppr">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>
            <fa-icon [icon]="faMinusCircle" class="suppr" (click)="deleteTypeProduit(element)"></fa-icon>
          </span>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columnProduit"></mat-header-row>
      <mat-row *matRowDef="let row;columns: columnProduit;"></mat-row>
    </mat-table>
    <label class="label" *ngIf="produits.length == 0">Aucun type ajouté</label>
  </mat-tab>
</mat-tab-group>

<!-- // changer -->
<button type="button" id="btn_open" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#flip"
  style="display: none;">
  Confirmer
</button>

<!-- The modal -->
<div class="modal fade" id="flip" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border: none;text-align: center;">
        <h4 class="modal-title" id="modalLabel" style="text-align: center;">Confirmation</h4>
        <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="border: none;">
        <p style="text-align: center;">
          Voulez vous supprimer ?
        </p>
      </div>
      <div class="modal-footer" style="border: none;">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary" style="margin-right: 20px;border-radius: 5px;"
            (click)="confirmDelete()">Oui</button>
          <button type="button" class="btn btn-dark" data-dismiss="modal" style="border-radius: 5px;">Non</button>
        </div>
      </div>
    </div>
  </div>
</div>
