.content {
    margin-top: 5vh;
    text-align: justify;
    font-weight: lighter;
}

.card {
    width: 45%;
    margin-top: 40vh;
    margin: auto;
    padding-top: 2vh;
    font-size: 0.8rem;
    font-weight: lighter;
}

.card-heading {
    margin-left: 5%;
}

h4 {
    color: #464a4e;
    margin-top: 3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
}

h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.icon {
    height: 50px;
    width: 50px;
    margin-top: 15px;
}

.form-group {
    margin: 7vh;
}

.btn-warnning {
    background-color: #EF1233;
    color: #ffffffff;
    border-radius: 0%;
}

.form {
    margin-left: 2%;
}

.signupimg {
    width: 300px;
}

.signupimg2 {
    display: none;
}

.formulaire {
    margin-right: 7%;
    width: 40%;
    margin-top: 5%;
}

.produittextarea {
    margin-top: 3%;
    width: 87%;
    margin-right: 8%;
}

h6 {
    margin-top: 2%;
    color: grey;
    font-size: 15px;
}

.btnnext button {
    background-color: #EF1233;
    color: #ffffffff;
    border-radius: 0%;
}

.btnnext button:hover {
    background-color: #212121;
}

.btnnext {
    margin-top: 10%;
    margin-right: 30%;
}

.btn-default {
    background-color: #e4e7eb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (min-width: 131px) and (max-width: 763px) {
    .card {
        width: 100%;
    }
    h4 {
        font-size: 18px;
    }
    .formulaire {
        margin-top: 3%;
        width: 87%;
        margin-right: 8%;
    }
    h6 {
        font-size: 14px;
    }
    .signupimg {
        display: none;
    }
    .signupimg2 {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .card {
        width: 80%;
    }
    h4 {
        font-size: 18px;
    }
    .signupimg {
        display: block;
        width: 250px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .card {
        width: 50%;
    }
    h4 {
        font-size: 18px;
    }
    .signupimg {
        display: block;
        width: 250px;
    }
}