.row {
    max-width: 100vw;
}

.row>div {
    max-width: 100%;
}

nav {
    padding-top: 2%;
    padding-bottom: 1%;
}

.logo {
    margin-left: 20%;
}

ul li a {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #212121;
}

.main {
    background-color: #ffffff;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

#main1 {
    height: 100%;
}

.container {
    width: 90%;
}

.connexion {
    border-radius: 30px;
    color: #ffffff;
}

.connexion:hover {
    background-color: #212121;
}

.connexion a:hover {
    color: #ffffffff;
}

.navmenu {
    margin-right: 30px;
}

.mobile {
    max-height: 65%;
    max-width: 65%;
}

.btn {
    background-color: #ef1233;
    margin-top: 3%;
}

.bg-red {
    background-color: #ef1233;
}

.btn:hover {
    background-color: #212121;
}

.innerbtn {
    padding-left: 15px;
    padding-right: 15px;
    color: #ffffffff;
}

.play {
    font-size: 25px;
    font-family: "century gothic";
    margin-top: 50px;
}

.text .telecharger {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
}

.head {
    margin-top: 15%;
}


/*Text*/

.textmtatitra {
    font-size: 40px;
}

.textservice {
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: lighter;
}

.textprestion {
    font-weight: lighter;
    font-size: 23px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.textrapidite {
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


/*End text*/

.how_it_works {
    list-style: none;
    width: 100%;
    margin-top: 3%;
}

.how_it_works .instru {
    text-align: center;
    width: 20%;
}

.icon {
    float: left;
    text-align: center;
    width: 100%;
    height: 67px;
}

.text {
    float: left;
    text-align: center;
    width: 100%;
    color: #333;
    font-size: 25px;
    font-weight: 300;
    margin-top: 15%;
}

i {
    color: #ef1233;
    font-size: 70px;
}

.lorem {
    width: 50%;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width: 576px) {
    h1 {
        font-size: 26px;
    }
    .how_it_works .instru {
        text-align: center;
        width: 100%;
    }
    .h1 {
        margin-top: 20%;
    }
    .text {
        margin-top: 35%;
    }
    .lorem {
        width: 100%;
    }
}