<div>
    <div class="container-fluid h-100 contenu wow bounceInUp" data-wow-delay="2s">
        <div class="row align-items-center" id="main1">
            <div class="h-100 col-12 col-md-6 d-flex justify-content-center align-items-center">
                <div class="p-5 m-5 text-md-left text-center">
                    <h2 class="textmtatitra"><strong>MTATITRA</strong></h2>
                    <p class="textservice">Service de livraison, récupération et coursier! Organisé sur apps, effectué par vélo et/ou moto.</p>
                    <p class="textprestion">Nos prestions: dédié, préplanifié, express, achat, taxi</p>
                    <p class="textrapidite"><span><strong>RAPIDITE /</strong></span> <span><strong> SECURITE
                    /</strong></span> <span><strong> PROFESSIONALISME</strong></span></p>
                    <a href="/public/mtatitra.apk" class="btn text-white">
                        Télécharger l'application
                    </a>
                </div>
            </div>
            <div class="h-100 col-12 col-md-6 justify-content-center align-items-center d-flex">
                <img src="/assets/images/pics.png" class="mobile d-block" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center head">
                    <h1>COMMENT CA MARCHE</h1>
                </div>
                <div class="container-fluid">
                    <div class="how_it_works" align="center">
                        <div class="instru d-md-inline-block">
                            <span class="icon"><i class="fa fa-map-marker h1"></i></span><span class="text">1) Choisissez votre intineraire</span>
                        </div>
                        <div class="instru d-md-inline-block">
                            <span class="icon"><i class="fa fa-map-signs h1"></i></span><span class="text">2) Choisissez la destination</span>
                        </div>
                        <div class="instru d-md-inline-block">
                            <span class="icon"><i class="fa fa-product-hunt h1"></i></span><span class="text">3) Enregistrer votre produit</span>
                        </div>
                        <div class="instru d-md-inline-block">
                            <span class="icon"><i class="fa fa-paper-plane h1"></i></span><span class="text">4) Envoyer votre demande</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center head">
                    <h1>SERVICE DE TRANSPORT</h1>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-12 col-md-6 bg-red p-5">
                <div class="d-flex justify-content-center">
                    <img src="/assets/images/velo.png" class="img-fluid w-75" alt="">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 p-5">
                <div class="textvelo text-justify">
                    <h2>Velo</h2>
                    <p>Écologique, économique, super pratique. Vos colis seront transportés en toute sécurité! Nos vélos sont entrenus et très robuste! Nos livreurs sont sympas et serviables! </p>
                </div>
            </div>
        </div>
        <div class="row wow fadeInUp">
            <div class="col-sm-12 col-md-6 order-md-first order-last p-5">
                <div class="textmoto text-justify">
                    <h2>Moto</h2>
                    <p>Simple, plus d'espace, efficace.  Equipé de sacs à dos carrée, isothèrmes et impérméables.  Vos colis et versements sont biens sécurisés. Nos véhicules sont costauds et rapides,</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 bg-red p-5">
                <div class="d-flex justify-content-center">
                    <img src="/assets/images/moto.png" class="img-fluid w-75" alt="">
                </div>
            </div>
        </div>
    </div>
</div>