<div class="content">
  <div mat-dialog-title>
    <h5 class="titre">
      Coursier
      <span class="btn btn-xs" id="btn_close" style="float: right;" mat-dialog-close mat-dialog-close="true">
        <fa-icon [icon]="faTimesCircle"></fa-icon>
      </span>
    </h5>
  </div>

  <mat-dialog-content>
    <div class="container">
      <form [formGroup]="form" class="form">
        <div class="row">
          <div class="col">
            <label class="label">id</label>
          </div>
          <div class="col">
            <label class="note">{{data.id}}</label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <label class="label">Nom</label>
          </div>
          <div class="col">
            <input type="text" autocomplete="off" class="data form-control" formControlName="nomCou" id="nom">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <label class="label">Prenoms</label>
          </div>
          <div class="col">
            <input type="text" autocomplete="off" class="data form-control" formControlName="prenomCou" id="prenom">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <label class="label">Telephone</label>
          </div>
          <div class="col">
            <input type="text" autocomplete="off" class="data form-control" formControlName="numTelCou" id="tel">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <label class="label">Telephone d'urgence</label>
          </div>
          <div class="col">
            <input type="text" autocomplete="off" class="data form-control" formControlName="numTelUrgentCou"
              id="telUrg">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <label class="label">Référence véhicule</label>
          </div>
          <div class="col">
            <input type="text" autocomplete="off" class="data form-control" formControlName="referenceVehiculeCou"
              id="referenceVehiculeCou">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <label class="label">Adresse</label>
          </div>
          <div class="col">
            <input type="text" autocomplete="off" class="data form-control" formControlName="adresseCou" id="adresse">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <label class="label">Type Vehicule</label>
          </div>
          <div class="col">
            <select class="form-control" formControlName="idTypeCouTypeCoursier">
              <option *ngFor="let type of data.typeCoursier; let index = index" [value]="type.idTypeCou">
                {{type.typeCou}}
              </option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <label class="label">Nom d'utilisateur</label>
          </div>
          <div class="col">
            <input type="text" autocomplete="off" class="data form-control" formControlName="usernameCou"
              id="userformControlName">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <label class="label">Mot de passe</label>
          </div>
          <div class="col">
            <div *ngIf="changePassword" class="input-group">
              <input type="password" class="data form-control" formControlName="passCou" id="password">
              <div class="input-group-append">
                <button class="input-group-text bg-transparent" (click)="passChange(false)">
                  <fa-icon [icon]="faClose">
                  </fa-icon>
                </button>
              </div>
            </div>
            <button class="btn btn-secondary" (click)="passChange(true)" *ngIf="!changePassword">
              Changer le mot de passe
            </button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12">
            <div style="text-align: center;">
              <button class="btn btn-primary" (click)="modifier()">
                Modifier
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </mat-dialog-content>
</div>
